/*
 * Copyright (c) 2025 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define FUNC 1
#define RES 2
#define BOT bootloader

/ {
    input_processors {
        zip_temp_layer: zip_temp_layer {
            compatible = "zmk,input-processor-temp-layer";
            #input-processor-cells = <2>;
        };

        ip_behaviors0: ip_behaviors0 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_0>;
            bindings = <&kp RIGHT>;
        };

        ip_behaviors1: ip_behaviors1 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_1>;
            bindings = <&kp LEFT>;
        };

        ip_behaviors2: ip_behaviors2 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_2>;
            bindings = <&kp DOWN>;
        };

        ip_behaviors3: ip_behaviors3 {
            compatible = "zmk,input-processor-behaviors";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            codes = <INPUT_BTN_3>;
            bindings = <&kp UP>;
        };
    };
};

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };

    behaviors {
        tdRMCLK: tap_dance_R_LMouse {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp RCLK>, <&mkp MCLK>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            bindings = <&kp &kp>;
            flavor = "balanced";
        };
    };

    behaviors {
        sp_sc: behavior_spacescroll {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";     /* 单击优先 */
            tapping-term-ms = <200>;       /* 长按阈值 */
            bindings = <&none &kp>;        /* hold=none, tap=space */
        };
    };

    behaviors {
        LMouse_sc: behavior_LMouse_Scroll {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";     /* 单击优先 */
            tapping-term-ms = <200>;       /* 长按阈值 */
            bindings = <&none &mkp>;        /* hold=none, tap=Lmouse */
        };
    };

    behaviors {
        M_kp: behavior_mouse_keypress {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";     /* 单击优先 */
            tapping-term-ms = <200>;       /* 长按阈值 */
            bindings = <&mkp &kp>;        /* hold=mou key press, tap=key*/
        };
    };

    behaviors {
        BLE_encoder: BLE_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&bt BT_NXT>, <&bt BT_PRV>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Colemak";
            bindings = <
&kp PRINTSCREEN       &kp N1        &kp N2          &kp N3       &kp N4       &kp N5       &kp C_MUTE   &kp C_PLAY_PAUSE  &kp N6                 &kp N7        &kp N8    &kp N9       &kp N0           &kp DELETE
&kp TAB               &kp Q         &kp W           &kp F        &kp P        &kp G        &kp J        &kp L             &kp U                  &kp Y         &kp SEMI  &kp INSERT
&kp LEFT_PARENTHESIS  &hm LGUI A    &hm LEFT_ALT R  &hm LCTRL S  &hm LSHFT T  &kp D        &mkp LCLK    &mkp LCLK         &kp H                  &kp N         &kp E     &kp I        &kp O            &kp APOS
&kp LSHFT             &kp Z         &kp X           &kp C        &kp V        &kp B        &kp PG_DN    &kp PG_UP         &msc SCRL_DOWN         &msc SCRL_UP  &kp K     &hm RSHFT M  &hm RCTRL COMMA  &hm RIGHT_ALT PERIOD  &hm RGUI SLASH  &kp RSHIFT
&to 4                 &kp CAPSLOCK  &kp ESCAPE      &lt 2 SPACE  &lt 1 TAB    &lt 1 ENTER  &lt 2 SPACE  &kp BACKSPACE     &kp RIGHT_PARENTHESIS  &to 4
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>;
        };

        lower_layer {
            display-name = "LOWER";
            bindings = <
&trans  &kp F1            &kp F2             &kp F3          &kp F4           &kp F5         &bt BT_CLR  &kp C_MUTE  &kp F6         &kp F7          &kp F8       &kp F9     &kp F10        &kp F11
&trans  &kp N5            &kp NUMBER_6       &kp N7          &kp N8           &trans         &kp TILDE   &kp PIPE    &kp UP         &kp UNDERSCORE  &kp PLUS     &kp F12
&trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp GRAVE      &mkp RCLK   &mkp RCLK   &kp BACKSLASH  &kp LEFT        &kp DOWN     &kp RIGHT  &kp MINUS      &kp EQUAL
&trans  &kp EXCLAMATION   &kp AT             &kp HASH        &kp DOLLAR       &trans         &trans      &trans      &bl BL_DEC     &bl BL_INC      &kp PERCENT  &kp CARET  &kp AMPERSAND  &kp ASTERISK  &LMouse_sc 0 MB3  &trans
&BOT    &trans            &trans             &trans          &kp LG(SPACE)    &kp LG(SPACE)  &trans      &trans      &trans         &BOT
            >;

            sensor-bindings = <&BLE_encoder &inc_dec_kp UP DOWN>;
        };

        raise_layer {
            display-name = "RAISE";
            bindings = <
&trans  &trans        &trans        &trans        &trans         &trans        &bt BT_CLR  &kp C_MUTE  &trans       &trans         &trans         &trans   &trans         &trans
&trans  &trans        &mkp LCLK     &kp LG(UP)    &mkp RCLK      &out OUT_TOG  &trans      &trans      &kp PAGE_UP  &kp LG(MINUS)  &kp LG(PLUS)   &trans
&trans  &kp LGUI      &kp LG(LEFT)  &kp LG(DOWN)  &kp LG(RIGHT)  &kp LG(F)     &mkp RCLK   &none       &trans       &kp HOME       &kp PAGE_DOWN  &kp END  &kp LG(MINUS)  &kp LG(EQUAL)
&trans  &kp NUMBER_1  &kp N2        &kp N3        &kp N4         &kp N5        &trans      &trans      &none        &none          &kp N6         &kp N7   &kp N8         &kp N9         &kp N0  &trans
&none   &trans        &trans        &trans        &trans         &trans        &trans      &trans      &trans       &none
            >;
        };

        MOUSE_layer {
            display-name = "MOUSE";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &bt BT_CLR      &kp C_MUTE    &kp N6  &kp N7  &kp N8  &kp N9    &kp N0     &kp BSPC
&kp TAB    &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y           &kp U         &kp I   &kp O   &kp P   &kp BSLH
&kp CAPS   &kp A   &kp S   &kp D   &kp F   &kp G   &mkp LCLK       &mkp LCLK     &kp H   &kp J   &kp K   &kp L     &kp SEMI   &kp ENTER
&kp LSHFT  &kp Z   &kp X   &kp C   &kp V   &kp B   &msc SCRL_DOWN  &msc SCRL_UP  &none   &none   &kp N   &kp M     &kp COMMA  &kp DOT    &kp FSLH  &kp RSHIFT
&trans     &trans  &trans  &trans  &trans  &trans  &trans          &trans        &trans  &trans
            >;
        };

        RES_layer {
            display-name = "QWERTY";
            bindings = <
&kp ESC    &kp N1    &kp N2    &kp N3     &kp N4     &kp N5     &kp C_MUTE         &kp C_MUTE  &kp N6          &kp N7        &kp N8  &kp N9    &kp N0     &kp BSPC
&kp TAB    &kp Q     &kp W     &kp E      &kp R      &kp T      &kp Y              &kp U       &kp I           &kp O         &kp P   &kp BSLH
&kp CAPS   &kp A     &kp S     &kp D      &kp F      &kp G      &mkp LCLK          &mkp LCLK   &kp H           &kp J         &kp K   &kp L     &kp SEMI   &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C      &kp V      &kp B      &kp PG_DN          &kp PG_UP   &msc SCRL_DOWN  &msc SCRL_UP  &kp N   &kp M     &kp COMMA  &kp DOT    &kp FSLH  &kp RSHIFT
&to 0      &kp LGUI  &kp LALT  &kp SPACE  &kp LCTRL  &kp GRAVE  &kp RIGHT_BRACKET  &kp MINUS   &kp EQUAL       &to 0
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOLUME_DOWN C_VOLUME_UP>,
                <&inc_dec_kp LEFT RIGHT>;
        };
    };
};
